doctype html

link(rel='import' href='bower_components/px-theme/px-app.html')
link(rel='import' href='bower_components/px-theme/px-theme.html')
link(rel='import' href='bower_components/px-app-nav/px-app-nav.html')
link(rel='import' href='bower_components/px-login/px-login.html')
link(rel='import' href='bower_components/app-router/src/app-router.html')
link(rel='import' href='bower_components/px-polymer-font-awesome/polymer-font-awesome.html')

link(rel='import' href='components/main-routes/main-routes.html')
